@helper Label(string label, string name, string type)
{
    <div class="container">
        <div class="col-md-3">
            <label for="@name">@label</label>
        </div>
        <div class="col-md-9">
            <input id="@name" name="@name" type="@type" placeholder="@label" />
        </div>
    </div>
}
