@model MFTWebForm.Models.User
@using MFTWebForm.Helpers


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<h2>MFT Web Log</h2>
<div class="col-md-4 col-lg-offset-4 login">
    @using (Html.BeginFormCol())
            {
        <div class="row">
            <div class="col-md-4 text-right">@Html.LabelFor(m => Model.Email)</div>
            <div class="col-md-8">@Html.EditorFor(m => Model.Email)</div>
        </div>

        <div class="row">
            <div class="col-md-4 text-right">@Html.LabelFor(m => Model.Password)</div>
            <div class="col-md-8">@Html.EditorFor(m => Model.Password)</div>
        </div>

        <div class="row text-center">
            <input class="btn btn-green col-md-12" type="submit" id="loginSubmit" value="Login" style="margin-top:7px;" />
        </div>

        <div class="row" id="login-footer">
            <div class="col-md-3">
                @Html.ActionLink("Register", "Index", "Register")
            </div>
            <div class="col-md-9 text-right">
                @Html.ActionLink("Forgot Username/Password", "Index", "Forgot")
            </div>
        </div>
    }
</div>

