@model MFTWebForm.Models.User
@using MFTWebForm.Helpers

@{
    ViewBag.Title = "Sign Up";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<h2>Sign Up</h2>

@using (Html.BeginFormCol())
{
    <div class="form-inline">
        <div class="form-group">
            @Html.LabelFor(m => Model.FirstName, "First Name")<br />
            @Html.EditorFor(m => Model.FirstName, new { htmlAttributes = new { placeholder = "First Name" } })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => Model.LastName, "Last Name")<br />
            @Html.EditorFor(m => Model.LastName, new { htmlAttributes = new { placeholder = "Last Name" } })
        </div>
    </div>

    <div class="form-inline">
        <div class="form-group">
            @Html.LabelFor(m => Model.Password, "Password")<br />
            @Html.EditorFor(m => Model.Password, new { htmlAttributes = new { placeholder = "Password" } })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => Model.Password, "Confirm Password")<br />
            @Html.EditorFor(m => Model.Password, new { htmlAttributes = new { placeholder = "Password" } })
        </div>
    </div>

    <div class="form-group">
        <input class="btn btn-green" type="submit" id="newUser" value="Submit" style="margin-top:10px" />
    </div>
}