@model MFTWebForm.Models.MFTFormInputViewModel

<div class="col-md-20 form-group">
    @Html.LabelFor(m => Model.Events, "Event Type")<br />

    @{ 
        List<SelectListItem> events = new List<SelectListItem>();
        foreach (var item in Model.Events) {
            events.Add(new SelectListItem() { Text = item.Name, Selected = false });
        }
    }
    @Html.DropDownListFor(m => Model.Events, events, new { @class = "form-control" })
</div>

<div class="col-md-20 form-group">
    @Html.LabelFor(m => Model.ObservableData, "Observable Data")<br />

    @{
        List<SelectListItem> data = new List<SelectListItem>();
        foreach (var item in Model.ObservableData) {
            data.Add(new SelectListItem() { Text = item.Name, Selected = false });
        }
    }
    @Html.DropDownListFor(m => Model.ObservableData, data, new { @class = "form-control" })
</div>

<div class="col-md-20 form-group">
    @Html.LabelFor(m => Model.Groups, "Location")<br />

    @{
        List<SelectListItem> groups = new List<SelectListItem>();
        foreach (var item in Model.Groups) {
            groups.Add(new SelectListItem() { Text = item.Name, Selected = false });
        }
    }
    @Html.DropDownListFor(m => Model.Groups, groups, new { @class = "form-control" })
</div>

<div class="col-md-20 form-group">
    @Html.LabelFor(m => Model.Supervisors, "Supervised By")<br />

    @{
        List<SelectListItem> supervisors = new List<SelectListItem>();
        foreach (var item in Model.Supervisors) {
            supervisors.Add(new SelectListItem() { Text = item.Name, Selected = false });
        }
    }
    @Html.DropDownListFor(m => Model.Supervisors, supervisors, new { @class = "form-control" })
</div>

<div class="col-lg-20 form-group">
    @Html.LabelFor(m => Model.SupervisorInitials, "Supervisor Initials")<br />
    @Html.TextBoxFor(m => Model.SupervisorInitials,new {@class ="form-control" })
</div>
