@using MFTWebForm.Helpers
@model MFTWebForm.Models.MFTFormInputViewModel

@{
    ViewBag.Title = "New Data Entry";
    Layout = "~/Views/Shared/_Main.cshtml";
}

@using (Html.BeginFormCol()) {
    @Html.AntiForgeryToken()
    <div class="row">
        <h3 class="col-md-12">New Entry</h3>
        @Html.Partial("_DateTimeEntry", Model)
    </div>
    <hr />
    <div class="row">
        @Html.Partial("_DropDownEntry", Model)
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            @Html.LabelFor(m => Model.Comments, "Comments (Optional)")<Br />
            @Html.TextAreaFor(m => Model.Comments, new { @class = "comments" })
        </div>
        <div class="col-md-12">
            <input class="pull-right btn btn-primary" type="submit" id="studentSubmit" value="Add Entry" />
        </div>
    </div>
}
